apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority: {{ k8s_data_dir}}/ca.pem
    server: https://{{ k8s_api_internal_dns }}:{{ k8s_api_internal_port }}
  name: kubernetes

contexts:
- context:
    cluster: kubernetes
    user: kubelet
  name: kubelet
current-context: kubelet
users:
- name: kubelet
  user:
    token: {{ kubelet_token }}
